################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/V0lcanos-Fishmode/v17/.wsuo
/.vs/V0lcanos-Fishmode/v17/DocumentLayout.json
